<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DrawEventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.DrawEvent">
        <id column="draw_id" property="drawId" />
        <result column="draw_name" property="drawName" />
        <result column="draw_discribe" property="drawDiscribe" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="group_sum" property="groupSum" />
    </resultMap>

</mapper>
